@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dyscypliny</h2>

<table class="table table-bordered table-hover" id="dyscyplines">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Jednostka miary</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

<p>
    @Html.ActionLink("Dodaj nową dyscyplinę", "New", "Dyscypline", null, new { @class = "btn btn-primary" })
</p>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#dyscyplines").DataTable({
                ajax: {
                    url: "/api/dyscypline/index",
                    method: "GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "dyscypline.name"
                    },
                    {
                        data: "unit.type"
                    }
                ]

            });
        });
    </script>

}