@model myFootball.Models.Player

@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* aorawiec: zmiana tekstu na zmienne z modelu. *@
<p>
    <h2>@Model.Name</h2>
</p>

<h3>Id: @Model.Id</h3>
<h3>Miejscowość: @Model.Address</h3>
<h3>Data urodzenia: @Model.Birthday</h3>



