@model myFootball.Models.Test
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h1>Id: @Model.Id</h1>
<h1>Data: @Model.Date</h1>
<h1>Id kind of test: @Model.KindOfTestID.ToString()</h1>
